{% extends 'rental/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/carsforrent.css' %}" />
{% endblock styles %} 
{% block content %}
{% if messages %} 
  {% for message in messages %} 
      <div class="alert {% if message.level_tag == 'error' %} alert-danger {% elif message.level_tag == 'success'%} alert-success {% else %} alert-info {% endif %} alert-dismissible fade show" role="alert">
        <p>{{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %} 
{% endif %}
    
    
    <section style="background-color: #eee;">
        <div class="container py-5">
            {% for car in cars %}
                <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                        <div class="bg-image hover-zoom ripple rounded ripple-surface">
                            <img src="{{car.image.url}}"
                            class="w-100" />
                            <a href="#!">
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                            </div>
                            </a>
                        </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                        <h5>{{car.brand}} {{car.model}} {{car.year}}</h5>
                        <div class="d-flex flex-row">
                            <div class="text-danger mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            </div>
                            <span>232</span>
                        </div>
                        <div class="mt-1 mb-0 text-muted small">
                            <span>{{car.model}}</span>
                            <span class="text-primary"> • </span>
                            <span>{{car.color}}</span>
                            <span class="text-primary"> • </span>
                            <span>{{car.year}}</span>
                            <span class="text-primary"> • </span>
                            <span>{{car.car_number}}<br /></span>
                        </div>
                    
                        <p class="text-truncate mb-4 mb-md-0">
                            {{car.description}}
                        </p>
                        </div>
                        <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                        <div class="d-flex flex-row align-items-center mb-1">
                            <h4 class="mb-1 me-1">${{car.price}}</h4>
                            <span class="text-danger"><s>${{car.price |add:"5" }}</s></span>
                        </div>
                        <h6 class="text-success">Only {{car.mileage}} miles</h6>
                        <div class="d-flex flex-column mt-4">
                            <a class="btn btn-primary btn-sm" href="#" role="button">Details</a>
                            <a class="btn {% if car.is_available %} btn-outline-success {% else %} btn-outline-danger {% endif %} btn-sm mt-2" href="{% if car.is_available %} {% url 'rent-car' car.car_id %} {% else %} # {% endif %}" role="button">{% if car.is_available %} Rent it now {% else %} Not available {% endif %}</a>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        </div>
      </section>


{% endblock content %}
