{% extends 'rental/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock styles %} {% block content %} 
{% if messages %} 
  {% for message in messages %} 
    {% if message.level_tag == 'error' %}
      <div class="alert alert-danger" role="alert">
        <p>Error occurred in signing process | {{message}}</p>
      </div>
    {% endif %} 
    
    {% if message.level_tag == 'success' %}
    <div class="alert alert-success" role="alert">
      <p>{{message}}</p>
      <hr />
    </div>
    {% endif %} 
  {% endfor %} 
{% endif %}
<form action="." method="post" enctype="multipart/form-data">
  {% csrf_token %}
  

<div class="container">
  <div class="row">
    <div class="col">
      <img src="/media/{{customerform.profile_pic.value}}" alt="Profile Pic" height="200px" width="200px"><br>
      <figcaption>{{customerform.profile_pic.label}}</figcaption>
      
      {{customerform.profile_pic}}
    </div>
    <div class="col">
        <div>
          <label for="{{userform.first_name.id_for_label}}">{{userform.first_name.label_tag}}</label>
          <input type="text" name="{{userform.first_name.html_name}}" id="{{userform.first_name.id_for_label}}" value="{{userform.first_name.value}}">
        </div>
        
      
        <div>
          <label for="{{userform.last_name.id_for_label}}">{{userform.last_name.label_tag}}</label>
          <input type="text" name="{{userform.last_name.html_name}}" id="{{userform.last_name.id_for_label}}" value="{{userform.last_name.value}}">
        </div>
      
      
      
        <div>
          <label for="username_id">Username:</label>
          <input type="text" name="username" id="username_id" value="{{user.username}}" readonly>
        </div>
        
      
        <div>
          <label for="{{userform.email.id_for_label}}">{{userform.email.label_tag}}</label>
          <input type="email" name="{{userform.email.html_name}}" id="{{userform.email.id_for_label}}" value="{{userform.email.value}}" readonly>
        </div>

      
        

        <div>
          {{customerform.gender.label}}
          {{customerform.gender}}
        </div>
        
        <div>
          {{customerform.dob.label}}
          {{customerform.dob}}
        </div>

        <div>
          {{customerform.occupation.label}}
          {{customerform.occupation}}
        </div>
        
        <div>
          {{customerform.phone_number.label}}
          {{customerform.phone_number}}
        </div>

        <div>
          {{customerform.license_number.label}}
          {{customerform.license_number}}
        </div>
        
        

    </div>
    <div class="row">
      <div class="col text-center"><button type="submit">Submit my changes</button>  </div>
    </div>
  </div>
</div>
</form>




{% endblock content %}
