{% extends 'rentalForEmployee/base.html' %}
{% load static %} 

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/addnewcar.css' %}" />
{% endblock styles %} 

{% block content %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h1>Add a New Car</h1>
  <a href="{% url 'employee-homepage'%}">Go back</a>
  <form method="POST" action=".">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" name="Add Car" />
  </form>
  
{% endblock content %}
