{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Car Rental For Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    
    {% block styles %}{% endblock styles %}
  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light sticky-top bg-body-tertiary">
      <a class="navbar-brand" href="{% url 'employee-homepage' %}">
        <img src="{% static 'images/logos/logo.png' %}" alt="Drive Mate" height="20">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav collapse navbar-collapse justify-content-end">
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'employee-homepage' %}">Home</a>
        </li><li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'add-car' %}">Add Car</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'employee-login' %}"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="{% url 'employee-register' %}">Signup</a>
        </li>
        {% else %}
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            Logged in as {{user.username}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
            <li>
              <a class="dropdown-item" href="{% url 'employee-view-profile' %}">View My Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'employee-edit-profile' %}">Profile Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'employee-logout' %}">Logout</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    
      <div class="container-fluid">
        {% block content %}{% endblock content %}
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </body>
</html>
