{% extends 'rentalForEmployee/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock styles %} 
{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h1>Homepage For Employee</h1>
    
    <a href="{% url 'add-car' %}">Add a new car</a><br>
    <a href="#">{{user}}</a><br>
    <a href="{% url 'employee-logout' %}">Logout</a>

    

{% endblock content %}
