{% extends 'rentalForEmployee/base.html' %}
{% load static %} 

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock styles %} 

{% block content %}
{% if messages %} 
{% for message in messages %} 
    <div class="alert {% if message.level_tag == 'error' %} alert-danger {% elif message.level_tag == 'success'%} alert-success {% else %} alert-info {% endif %} alert-dismissible fade show" role="alert">
      <p>{{message}}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %} 
{% endif %}
  <h1>Login</h1>
  <form method="POST" action=".">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" name="Login" />
  </form>
  <a href="{% url 'employee-register'%}">Create a new account</a>
{% endblock content %}
