{% extends 'rentalForEmployee/base.html' %} 
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock styles %}
{% block content %}
  {% if messages %} 
  {% for message in messages %} 
  {% if message.level_tag == 'error' %}
      <div class="alert alert-danger" role="alert">
      <p>Error occurred in signing process | {{message}}</p>
      </div>
  {% endif %} 

  {% if message.level_tag == 'success' %}
  <div class="alert alert-success" role="alert">
      <p>{{message}}</p>
      <hr />
  </div>
  {% endif %} 
  {% endfor %} 
  {% endif %}
  <h1>Register</h1>

  <form method="POST" action=".">
    {% csrf_token %} {{userform.as_p}} {{employeeform.as_p}}
    <input type="submit" name="Register Me" />
  </form>
  <a href="{% url 'employee-login'%}">Already have a account?</a>
{% endblock content %}
