{% extends 'rentalForEmployee/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/viewallcustomers.css' %}" />
{% endblock styles %} {% block content %} 
{% if messages %} 
  {% for message in messages %} 
      <div class="alert {% if message.level_tag == 'error' %} alert-danger {% elif message.level_tag == 'success'%} alert-success {% else %} alert-info {% endif %} alert-dismissible fade show" role="alert">
        <p>{{message}}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  {% endfor %} 
{% endif %}

<div class="container text-center">
  <h1 class="display-3">All Customers</h1>
  <ol class="list-group list-group-numbered">
    {% for customer in customers %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{customer.user.email}}</div>
      </div>
      <span class="badge bg-primary rounded-pill"><a href="{% url 'view-customer' customer.user.id %}" class="text-light">More Details</a></span>
    </li>
    {% endfor %}
  </ol>
  
</div>


{% endblock content %}